body {
}
div.content {
	padding-top: 10px;
}
.banner span.brand {
	float: none;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
}
.banner span.brand i {
	margin-top: 5px;
}
.centered {
	text-align: center;
}
.icon-auto {
	background-image: url("../img/auto.png");
	height: 32px;
	width: 32px;
	background-position: 0px 0px;
}
.hide {
	display: none;
}
input, button {
	height: 50px !important;
}
.settings-btn {
	position: relative;
	top: -7px;
}
.banner .settings-btn i {
	margin-top: 0px !important;
}