<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "0.0.6">
    <!-- versionCode is optional and Android only -->
    <name>MilesDatas</name>
    <description>
        A mileage recording app. Requires access to an API key. 
    </description>
    <author href="http://www.missionaldigerati.org" email="johnathan@missionaldigerati.org">
        Johnathan Pulos
    </author>
    <access origin="*" />
    <icon src="icon.png" />
    <icon src="img/icons/ios/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icons/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
    <icon src="img/icons/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <icon src="img/icons/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
    <icon src="img/icons/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <icon src="img/icons/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
    <icon src="img/icons/ios/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="img/icons/ios/Icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/icons/ios/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/icons/ios/Icon@2x~ipad.png" gap:platform="ios" width="144" height="144" />
    <icon src="img/icons/ios/iPad-Retina–Landscape.png" gap:platform="ios" width="2048" height="1496" />
    <icon src="img/icons/ios/iPad-Retina–Portrait.png" gap:platform="ios" width="1536" height="2008" />
</widget>